.speech
{
    font-family: 'Times New Roman';
    size: 12px;
    color:black;
}
.stage-direction
{
    font-family:'Arial';
    size:12px;
    color:darkgoldenrod;
    background-color:cornsilk;

}
.stage-direction:hover
{
color:rgb(255, 99, 71);
background-color:darkgrey;
}
.ALLONBY
{
    font-family: 'Times New Roman';
    size: 12px;
    color:darkolivegreen;
}
.LADY CAROLINE
{
    font-family: 'Times';
    size: 12px;
    color:deeppink;
}
.LADY STUTFIELD
{
    font-family:fantasy;
    size: 12px;
    color:gold

}


