.speech
{
    font-family: 'Times New Roman';
    size: 12px;
    color:black;
}
.stage-direction
{
    font-family:'Arial';
    size:20px;
    color:darkgoldenrod;
    background-color:cornsilk;

}
.stage-direction:hover
{
color:rgb(255, 99, 71);
background-color:darkgrey;
}
.ALLONBY
{
    font-family: 'Times New Roman';
    size: 16px;
    color:mediumblue;
}
.LADYCAROLINE
{
    font-family: 'Times';
    size: 16px;
    color:mediumvioletred;
}
.LADYSTUTFIELD
{
    font-family:fantasy;
    size: 16px;
    color:maroon;


}

Table{
    background-color: indianred;
    font-family:'Times New Roman';
    border:2px solid sienna;
    width: medium;
    border-spacing:3px;
    margin-left:300px;
    margin-top: 15px;
}
td,th{
    column-span: 2px;
    border:2px mistyrose;
    text-align: left;
    padding: 12px;
}
   tr:nth-child(even)
   {
       background-color: mistyrose;
   }
   .navbar-horizontal
   {
       color:orchid;ss
   }
    
        
    









































